<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= "current_user" %></h1>
    <p>
      Welcome to School
    </p>
  </body>
</html>