<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<div class="container">
  <div class="row">
    <% @divisions.each do |division| %>
    <div class="col-sm-4"><br>
      <div class="panel panel-success class">
        <div class="panel-heading"><h4>Class Name</h4>
          <div class="panel-body">
            <%= link_to division.name, user_school_division_attendances_path(current_user, division.school, division), class: "nav-link"%>
          </div>
        </div>
      </div>
    </div> 
    <%end%>
  </div>
</div>